* {
  border-color: red;
  border-width: 1px;
  border-style: solid;
}

body {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  display: flex;
  flex-flow: column;
}

main {
  flex: 1;
}

/*main div {
  margin-bottom: 5px;
}*/

#menu {
  display: flex;
  flex-flow: row;
}

#menu button {
  padding: 0;
  flex: 1;
}

#menu select {
  flex: 1;
}

.bookmark-item {
  display: flex;
  flex-flow: row;
}
.bookmark-item .title, .star-rating {
  flex: 2;
}
.bookmark-item .expand-btn {
  flex: 1;
  margin: 10px;
}

.bookmark-expanded {
  display: flex;
  flex-flow: column;
}
.star-rating {
  display: flex;
  flex-flow: row;
}

.star-rating .star{
  flex: 1;
}

.bookmark-expanded .title {
  flex: 1;
}

.bookmark-expanded .body {
  flex: 4;
}

form #new-bookmark-top {
  display: flex;
  flex-flow: column;
}

form #new-bookmark-body {
  display: flex;
  flex-flow: column;
}

#new-bookmark-body .description-area {
  display: flex;
  flex-flow: column;
}

/*a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}*/